.navbar{
  padding: 1rem;
  background-color: rgb(119, 119, 129);
  display: flex;
  justify-content: space-between;
}

.links{
  color:black;
  text-decoration: none;
  font-weight: bold;
}

.logo{
  width:2rem;
}